VITE_API_KEY=api_key=
VITE_API=https://api.themoviedb.org/3/movie/
VITE_SEARCH=https://api.themoviedb.org/3/search/movie/
VITE_IMG=https://image.tmdb.org/t/p/w500

<!-- insira sua API_KEY na configuração acima para que o app funcione corretamente -->
