/* This is a Component stylesheet. It must be imported in the JSX file of the component, but beware: this method is not scoped, that is, it can be reflected in other components in case of same css rules being applied. Components css usually have the same name of the component */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-title {
  background-color: #000;
  color: red;
  padding: 15px;
  border: 5px solid red;
}

.title {
  background-color: #000;
  color: #fff;
}
